<ion-header> </ion-header>

<ion-content class="ion-padding" color="light">
  <div class="title">
    <h4>Enter Code</h4>
  </div>

  <ion-input placeholder="Enter Code" class="primary-input" [(ngModel)]="enterStudentCode"></ion-input>
  <!-- <ion-input
    placeholder="Password"
    type="password"
    class="primary-input"
  ></ion-input> -->

  <!-- <div class="ion-margin-top ion-text-right forget">
    <a>Forgot Password?</a>
  </div> -->

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="login()">Enter</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>
