<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="goToHome()" expand="block" fill="clear" shape="round">
    Go to Home
  </ion-button>
<ion-button (click)="goToMember()" expand="block" fill="clear" shape="round">
  Go to Member
</ion-button>
<ion-button (click)="goToClass()" expand="block" fill="clear" shape="round">
  Go to Class
</ion-button>
<ion-button (click)="goToReport()" expand="block" fill="clear" shape="round">
  Go to Report
</ion-button>
</ion-content>
