<ion-header> </ion-header>

<ion-content class="ion-padding ion-text-center" color="light">
  <div class="title">
    <img src="../../assets/icon/hkct_logo.png" class="logo" />
    <h1>Welcome</h1>
    <p>HKCT Attendance Tracker</p>
  </div>

  <div class="ion-margin-top">
    <ion-button
      expand="block"
      class="ion-margin-top"
      (click)="login()"
      fill="outline"
      color="primary"
      >Enter Student Code</ion-button
    >
    <ion-button
      expand="block"
      class="ion-margin-top"
      (click)="qrCode()"
      color="primary"
      >QR Code</ion-button
    >
  </div>
</ion-content>
